header{
	font-size: 150;
	text-align: center;
}


.box{
	display: block;
	float: left;
	width: 20;
	padding: 10px;
	padding-left: 12px;
}

img{
	width: 100%;
	border-radius: 5px;
}

img:hover{
	transform: scale(1,1);
	transition: 1s tranform;
}